@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.8125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.headline__text {
  font-weight: 500;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
  color: #7e4e24;
}

.headline__title {
  font-weight: 500;
  line-height: 1.22;
  /* 54/44 */
  color: #7e4e24;
}

.headline__title span {
  color: #697b03;
}

.title {
  position: relative;
}

.title__headline-line {
  font-weight: 600;
  line-height: 1.31;
  /* 42/32 */
  letter-spacing: 0.0063rem;
  color: #7e4e24;
  padding-top: 0.9375rem;
}

.title__headline-line::before {
  content: "";
  width: 8.625rem;
  height: 0.9375rem;
  display: block;
  background: url("../img/who-we-are/title/deco-title.svg") 0 0 no-repeat;
  margin-bottom: 0.9375rem;
}

.content__title {
  -webkit-transform: translate(70%, 0);
      -ms-transform: translate(70%, 0);
          transform: translate(70%, 0);
  opacity: 0;
}

._watcher-view .content__title {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.content__text {
  -webkit-transform: translate(70%, 0);
      -ms-transform: translate(70%, 0);
          transform: translate(70%, 0);
  opacity: 0;
  font-weight: 500;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
  color: #25282b;
}

._watcher-view .content__text {
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.content__link {
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  opacity: 0;
}

._watcher-view .content__link {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.content__link a {
  position: relative;
}

.content__link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 0.0625rem;
}

.content__link a:hover::after {
  content: "";
  width: 100%;
  left: 0%;
  background: #7e4e24;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.link {
  font-weight: 500;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
  color: #7e4e24;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}

.header._header-scroll {
  top: -200%;
}

.header._header-show {
  -webkit-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
  top: 0;
  background: rgba(227, 214, 214, 0.5);
}

.newsletters {
  position: relative;
  z-index: 5;
  padding: 1.0625rem 0.9375rem;
  background: #697b03;
}

.newsletters__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.newsletters__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  line-height: 1.57;
  /* 22/14 */
  text-align: center;
  letter-spacing: 0.0063rem;
  color: #f9f9fa;
}

.newsletters__close-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.newsletters__close-button::before,
.newsletters__close-button::after {
  content: "";
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.87);
}

.newsletters__close-button::before {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.newsletters__close-button::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.olives {
  background: rgba(255, 255, 255, 0.5);
}

.olives__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.olives__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.olives__logo {
  position: relative;
  z-index: 5;
}

.olives__logo img {
  max-width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.4375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  position: relative;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
  color: #7e4e24;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 0.0625rem;
}

.menu__link:hover::after {
  content: "";
  width: 100%;
  left: 0%;
  background: #7e4e24;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.action__button {
  padding: 1.25rem 1.5rem;
  font-weight: 600;
  line-height: 1.28;
  /* 18/14 */
  text-align: center;
  letter-spacing: 0.0125rem;
  color: #697b03;
  background: rgba(255, 255, 255, 0.6);
  border: 0.125rem solid #697b03;
  border-radius: 0.3125rem;
}

.icon-menu {
  display: none;
}

.info {
  padding-top: 1.5625rem;
}

.info__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto minmax(auto, 310px) minmax(auto, 310px);
  grid-template-columns: auto auto minmax(auto, 310px) minmax(auto, 310px);
  row-gap: 1.875rem;
}

.info__item {
  font-weight: 500;
  line-height: 1.28;
  /* 18/14 */
  letter-spacing: 0.0063rem;
  color: #697b03;
}

.info__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.info__item a {
  position: relative;
}

.info__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0rem;
  height: 0.0625rem;
}

.info__item a:hover::after {
  content: "";
  width: 100%;
  left: 0%;
  background: #7e4e24;
  color: #7e4e24;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.info__action:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.info__more-information {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  /* 16/12 */
  color: #697b03;
}

.title-footer {
  color: #697b03;
}

.title-footer__headline {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
}

.title-footer__headline:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.title-footer__text {
  font-weight: 400;
  line-height: 1.57;
  /* 22/14 */
  letter-spacing: 0.0063rem;
}

.action-info__button {
  display: inline-block;
  padding: 1.25rem 2.75rem;
  font-weight: 600;
  line-height: 1.28;
  /* 18/14 */
  text-align: center;
  letter-spacing: 0.0125rem;
  color: #7e4e24;
  background: rgb(255, 255, 255);
  border: 0.125rem solid #7e4e24;
  border-radius: 0.3125rem;
}

.data__aside {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 133.333333%;
  /* 16/12 */
  letter-spacing: 0.0125rem;
  color: #697b03;
}

.basement {
  background: #697b03;
}

.basement__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.basement__logo img {
  max-width: 100%;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  color: rgba(255, 255, 255, 0.87);
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
}

.breadcrumbs__link {
  font-weight: 500;
  line-height: 1.28;
  /* 18/14 */
  letter-spacing: 0.0063rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.875rem;
}

.social__value {
  font-weight: 500;
  line-height: 1.28;
  /* 18/14 */
  letter-spacing: 0.0063rem;
  color: rgba(255, 255, 255, 0.87);
}

.list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.list-icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.no-webp .natural-product{
  background: url("../img/natural-product/1.jpg") 100%/cover no-repeat; }

.natural-product__headline {
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
}

._watcher-view .natural-product__headline {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.natural-product__headline:not(:last-child) {
  margin-bottom: 1.25rem;
}

.natural-product__text {
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
  max-width: 31.25rem;
  font-weight: 500;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
  color: #7e4e24;
}

._watcher-view .natural-product__text {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.headline__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.advertising {
  padding-top: 1.5625rem;
}

.advertising__image {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  text-align: center;
}

._watcher-view .advertising__image {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.advertising__image img {
  max-width: 100%;
}

.who-we-are__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.who-we-are__image {
  -webkit-transform: translate(-70%, 0);
      -ms-transform: translate(-70%, 0);
          transform: translate(-70%, 0);
  opacity: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50.37037%;
          flex: 0 1 50.37037%;
  /* 612/1215 */
}

._watcher-view .who-we-are__image {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.who-we-are__image img {
  max-width: 100%;
}

.who-we-are__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.942387%;
          flex: 0 1 37.942387%;
  /* 461/1215 */
}

.what-we-do__container {
  display: -ms-grid;
  display: grid;
}

.what-we-do__title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
}

._watcher-view .what-we-do__title {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.what-we-do__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72.18107%;
  grid-template-columns: 72.18107%;
  /* 877/1215 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-we-do__video {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
}

._watcher-view .what-we-do__video {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.video {
  position: relative;
  /* 584/756 */
  padding-bottom: 66.6%;
  /* 446/584 */
}

.video iframe {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video__foto {
  position: absolute;
  top: 0;
  left: 0;
}

.video__foto img {
  max-width: 100%;
}

.video__button {
  position: absolute;
  top: 42.979452%;
  /* 251/584 */
  left: 45.267959%;
  background: rgba(227, 197, 0, 0.81);
}

.no-webp .quote{
  background: url("../img/quote/01.jpg") center/cover no-repeat; }

.quote__title {
  font-weight: 300;
  line-height: 1.23;
  /* 64/52 */
  text-align: center;
  letter-spacing: 0.0125rem;
  color: #7e4e24;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}

._watcher-view .quote__title {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.quote__title span {
  font-weight: 500;
  line-height: 1.33;
  /* 24/18 */
  text-align: center;
  letter-spacing: 0.0125rem;
  color: #7e4e24;
}

.quote__link {
  text-align: right;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  opacity: 0;
}

._watcher-view .quote__link {
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.quote__link a {
  position: relative;
}

.quote__link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0rem;
  height: 0.0625rem;
}

.quote__link a:hover::after {
  content: "";
  width: 100%;
  left: 0%;
  background: #7e4e24;
  color: #7e4e24;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__image {
  -webkit-transform: translate(-70%, 0);
      -ms-transform: translate(-70%, 0);
          transform: translate(-70%, 0);
  opacity: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50.37037%;
          flex: 0 1 50.37037%;
  /* 612/1215 */
}

._watcher-view .product__image {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.product__image img {
  max-width: 100%;
}

.product__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.942387%;
          flex: 0 1 37.942387%;
  /* 461/1215 */
}

.no-webp .natural-product-two{
  background: url("../img/natural-product-two/1.jpg") 100%/cover no-repeat; }

.natural-product-two {
  position: relative;
}

.natural-product-two__content {
  position: relative;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.natural-product-two__headline {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}

._watcher-view .natural-product-two__headline {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.natural-product-two__headline:not(:last-child) {
  margin-bottom: 1.25rem;
}

.natural-product-two__text {
  justify-items: center;
  max-width: 31.25rem;
  font-weight: 500;
  line-height: 1.33;
  /* 24/18 */
  letter-spacing: 0.0125rem;
  color: #7e4e24;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}

._watcher-view .natural-product-two__text {
  -webkit-transition: all 2.5s ease 0s;
  transition: all 2.5s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.natural-product-two__action {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}

._watcher-view .natural-product-two__action {
  -webkit-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.natural-product-two__button {
  display: inline-block;
  padding: 1.25rem 1.5625rem;
  font-weight: 600;
  line-height: 1.2857142857;
  text-align: center;
  letter-spacing: 0.0125rem;
  padding: 1.25rem 3.125rem;
  color: #f9f9fa;
  background: #697b03;
  border-radius: 0.3125rem;
}

.natural-product-two__pictures {
  position: absolute;
  top: 12.932584%;
  /* 124/890 */
  left: 2.554745%;
  /* 35/1370 */
  z-index: 2;
}

.natural-product-two__pictures img {
  max-width: 100%;
}

@media (min-width: 47.99875em) and (min-width: 77.8125em) {
  .content {
    padding-left: 2.625rem;
  }

  .olives__logo {
    width: 9.125rem;
  }
}

@media (min-width: 47.99875em) {
  .info__row {
    justify-items: center;
  }
}

@media (min-width: 56.37375em) {
  .menu__link {
    font-weight: 500;
  }
}

@media (min-width: 56.37375em) and (min-width: 77.8125em) {
  .menu__link {
    font-size: 1.125rem;
  }
}

@media (min-width: 73.87375em) and (min-width: 77.8125em) {
  .data {
    padding-left: 2.375rem;
  }

  .data {
    padding-right: 2.375rem;
  }

  .basement {
    padding-left: 2.375rem;
  }

  .basement {
    padding-right: 2.375rem;
  }
}

@media (min-width: 77.8125em) {
  .headline__text {
    font-size: 1.125rem;
  }

  .headline__title {
    font-size: 2.75rem;
  }

  .title__headline-line {
    font-size: 2rem;
  }

  .content__title:not(:last-child) {
    margin-bottom: 3rem;
  }

  .content__text {
    font-size: 1.125rem;
  }

  .content__text:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .link {
    font-size: 1.125rem;
  }

  .newsletters__text {
    font-size: 0.875rem;
  }

  .newsletters__close-button {
    width: 1.5rem;
  }

  .newsletters__close-button {
    height: 1.5rem;
  }

  .olives__container {
    min-height: 5.25rem;
  }

  .menu__list {
    -webkit-column-gap: 1.6875rem;
       -moz-column-gap: 1.6875rem;
            column-gap: 1.6875rem;
  }

  .action__button {
    font-size: 0.875rem;
  }

  .info {
    padding-bottom: 1.875rem;
  }

  .info__row {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .data {
    padding-top: 1.875rem;
  }

  .data {
    padding-bottom: 1.875rem;
  }

  .basement {
    padding-top: 2.375rem;
  }

  .basement {
    padding-bottom: 2.375rem;
  }

  .natural-product {
    padding-top: 14.0625rem;
  }

  .natural-product {
    padding-bottom: 18.1875rem;
  }

  .natural-product__text {
    font-size: 1.125rem;
  }

  .advertising {
    padding-bottom: 3.125rem;
  }

  .who-we-are {
    padding-top: 3.125rem;
  }

  .who-we-are {
    padding-bottom: 3.75rem;
  }

  .what-we-do {
    padding-top: 3.75rem;
  }

  .what-we-do {
    padding-bottom: 4.0625rem;
  }

  .what-we-do__title:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .video__button {
    width: 5.125rem;
  }

  .video__button {
    height: 5.125rem;
  }

  .video__button img {
    width: 2.0625rem;
  }

  .video__button img {
    height: 2.0625rem;
  }

  .quote {
    padding-top: 1.875rem;
  }

  .quote {
    padding-bottom: 4.0625rem;
  }

  .quote__container {
    padding-top: 8.625rem;
  }

  .quote__container {
    padding-bottom: 4.8125rem;
  }

  .quote__title {
    font-size: 3.25rem;
  }

  .quote__title:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .quote__title span {
    font-size: 1.125rem;
  }

  .product {
    padding-top: 3.75rem;
  }

  .product {
    padding-bottom: 4.0625rem;
  }

  .natural-product-two {
    padding-top: 4.0625rem;
  }

  .natural-product-two {
    padding-bottom: 2.8125rem;
  }

  .natural-product-two__container {
    padding-top: 13.6875rem;
  }

  .natural-product-two__container {
    padding-bottom: 14.375rem;
  }

  .natural-product-two__text {
    font-size: 1.125rem;
  }

  .natural-product-two__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .natural-product-two__button {
    font-size: 0.875rem;
  }
}

@media (max-width: 20em) {
  .headline__text {
    font-size: 0.875rem;
  }

  .headline__title {
    font-size: 1.5rem;
  }

  .title__headline-line {
    font-size: 1.5rem;
  }

  .content__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content__text {
    font-size: 0.875rem;
  }

  .content__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .link {
    font-size: 0.875rem;
  }

  .newsletters__text {
    font-size: 0.75rem;
  }

  .newsletters__close-button {
    width: 1rem;
  }

  .newsletters__close-button {
    height: 1rem;
  }

  .olives__container {
    min-height: 4.375rem;
  }

  .menu__list {
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }

  .action__button {
    font-size: 0.75rem;
  }

  .info {
    padding-bottom: 1.5625rem;
  }

  .info__row {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .data {
    padding-top: 1.5625rem;
  }

  .data {
    padding-bottom: 1.5625rem;
  }

  .basement {
    padding-top: 1.875rem;
  }

  .basement {
    padding-bottom: 1.875rem;
  }

  .natural-product {
    padding-top: 10rem;
  }

  .natural-product {
    padding-bottom: 3.75rem;
  }

  .natural-product__text {
    font-size: 0.875rem;
  }

  .advertising {
    padding-bottom: 1.5625rem;
  }

  .who-we-are {
    padding-top: 1.5625rem;
  }

  .who-we-are {
    padding-bottom: 1.5625rem;
  }

  .what-we-do {
    padding-top: 1.5625rem;
  }

  .what-we-do {
    padding-bottom: 1.875rem;
  }

  .what-we-do__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .video__button {
    width: 1.9375rem;
  }

  .video__button {
    height: 1.9375rem;
  }

  .video__button img {
    width: 1.03125rem;
  }

  .video__button img {
    height: 1.03125rem;
  }

  .quote {
    padding-top: 1.5625rem;
  }

  .quote {
    padding-bottom: 1.5625rem;
  }

  .quote__container {
    padding-top: 4.0625rem;
  }

  .quote__container {
    padding-bottom: 4.0625rem;
  }

  .quote__title {
    font-size: 1.5rem;
  }

  .quote__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .quote__title span {
    font-size: 0.875rem;
  }

  .product {
    padding-top: 1.5625rem;
  }

  .product {
    padding-bottom: 1.5625rem;
  }

  .natural-product-two {
    padding-top: 1.5625rem;
  }

  .natural-product-two {
    padding-bottom: 1.5625rem;
  }

  .natural-product-two__container {
    padding-top: 4.0625rem;
  }

  .natural-product-two__container {
    padding-bottom: 4.0625rem;
  }

  .natural-product-two__text {
    font-size: 0.8125rem;
  }

  .natural-product-two__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .natural-product-two__button {
    font-size: 0.75rem;
  }
}

@media (max-width: 73.81125em) {
  .data {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .basement {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 61.18625em) {
  .action__button {
    padding: 0.9375rem 0.9375rem;
  }

  .action-info__button {
    padding: 0.9375rem 1.5625rem;
  }

  .natural-product-two__button {
    padding: 0.9375rem 1.5625rem;
  }
}

@media (max-width: 56.31125em) {
  .no-webp .menu__body{
    background: url("../img/header/2.jpg") center/cover no-repeat; }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .no-webp .menu__body::before{
    background: url("../img/header/2.jpg") center/auto auto no-repeat; }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
  }

  .menu__link {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 56.31125em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::before {
    height: 4.5rem;
  }
}

@media (max-width: 56.31125em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 55.06125em) {
  .basement__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .basement__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 47.99875em) {
  .title {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content__text {
    text-align: center;
  }

  .content__link {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info__row {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .who-we-are__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .who-we-are__image {
    text-align: center;
  }

  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product__image {
    text-align: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .who-we-are__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .product__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 36.31125em) {
  .natural-product-two__pictures {
    display: none;
  }
}

@media (max-width: 29.56125em) {
  .info__row {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 28.12375em) {
  .olives__logo {
    width: 6.25rem;
  }
}

@media (min-width: 20em) and (max-width: 77.8125em) {
@supports (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .headline__text {
      font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .headline__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0675675676rem  +  2.1621621622vw , 2.75rem )) {
    .headline__title {
      font-size: clamp( 1.5rem , 1.0675675676rem  +  2.1621621622vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0675675676rem  +  2.1621621622vw , 2.75rem )) {
    .headline__title {
      font-size: calc(1.5rem + 1.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.327027027rem  +  0.8648648649vw , 2rem )) {
    .title__headline-line {
      font-size: clamp( 1.5rem , 1.327027027rem  +  0.8648648649vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.327027027rem  +  0.8648648649vw , 2rem )) {
    .title__headline-line {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6445945946rem  +  3.027027027vw , 3rem )) {
    .content__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6445945946rem  +  3.027027027vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6445945946rem  +  3.027027027vw , 3rem )) {
    .content__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .content__text {
      font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .content__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.1635135135rem  +  0.4324324324vw , 1.5rem )) {
    .content__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.1635135135rem  +  0.4324324324vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.1635135135rem  +  0.4324324324vw , 1.5rem )) {
    .content__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .link {
      font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .link {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem )) {
    .newsletters__text {
      font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem )) {
    .newsletters__text {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (width: clamp( 1rem , 0.827027027rem  +  0.8648648649vw , 1.5rem )) {
    .newsletters__close-button {
      width: clamp( 1rem , 0.827027027rem  +  0.8648648649vw , 1.5rem );
    }
}

@supports not (width: clamp( 1rem , 0.827027027rem  +  0.8648648649vw , 1.5rem )) {
    .newsletters__close-button {
      width: calc(1rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (height: clamp( 1rem , 0.827027027rem  +  0.8648648649vw , 1.5rem )) {
    .newsletters__close-button {
      height: clamp( 1rem , 0.827027027rem  +  0.8648648649vw , 1.5rem );
    }
}

@supports not (height: clamp( 1rem , 0.827027027rem  +  0.8648648649vw , 1.5rem )) {
    .newsletters__close-button {
      height: calc(1rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (min-height: clamp( 4.375rem , 4.0722972973rem  +  1.5135135135vw , 5.25rem )) {
    .olives__container {
      min-height: clamp( 4.375rem , 4.0722972973rem  +  1.5135135135vw , 5.25rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 4.0722972973rem  +  1.5135135135vw , 5.25rem )) {
    .olives__container {
      min-height: calc(4.375rem + 0.875 * (100vw - 20rem) / 57.8125);
    }
}

@supports ((-moz-column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem )) or (column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem );
         -moz-column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem );
              column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem )) or (column-gap: clamp( 0.875rem , 0.5939189189rem  +  1.4054054054vw , 1.6875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.875rem + 0.8125 * (100vw - 20rem) / 57.8125);
         -moz-column-gap: calc(0.875rem + 0.8125 * (100vw - 20rem) / 57.8125);
              column-gap: calc(0.875rem + 0.8125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem )) {
    .action__button {
      font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem )) {
    .action__button {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .info {
      padding-bottom: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .info {
      padding-bottom: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem ))) {
    .info__row {
      -webkit-column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem );
         -moz-column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem );
              column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , 0.1807432432rem  +  3.7837837838vw , 3.125rem ))) {
    .info__row {
      -webkit-column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 57.8125);
         -moz-column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 57.8125);
              column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .data {
      padding-top: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .data {
      padding-top: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .data {
      padding-bottom: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .data {
      padding-bottom: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-top: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-top: calc(1.875rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-bottom: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-bottom: calc(1.875rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 10rem , 8.5945945946rem  +  7.027027027vw , 14.0625rem )) {
    .natural-product {
      padding-top: clamp( 10rem , 8.5945945946rem  +  7.027027027vw , 14.0625rem );
    }
}

@supports not (padding-top: clamp( 10rem , 8.5945945946rem  +  7.027027027vw , 14.0625rem )) {
    .natural-product {
      padding-top: calc(10rem + 4.0625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 3.75rem , -1.2445945946rem  +  24.972972973vw , 18.1875rem )) {
    .natural-product {
      padding-bottom: clamp( 3.75rem , -1.2445945946rem  +  24.972972973vw , 18.1875rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , -1.2445945946rem  +  24.972972973vw , 18.1875rem )) {
    .natural-product {
      padding-bottom: calc(3.75rem + 14.4375 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .natural-product__text {
      font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .natural-product__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0219594595rem  +  2.7027027027vw , 3.125rem )) {
    .advertising {
      padding-bottom: clamp( 1.5625rem , 1.0219594595rem  +  2.7027027027vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0219594595rem  +  2.7027027027vw , 3.125rem )) {
    .advertising {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0219594595rem  +  2.7027027027vw , 3.125rem )) {
    .who-we-are {
      padding-top: clamp( 1.5625rem , 1.0219594595rem  +  2.7027027027vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0219594595rem  +  2.7027027027vw , 3.125rem )) {
    .who-we-are {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem )) {
    .who-we-are {
      padding-bottom: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem )) {
    .who-we-are {
      padding-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem )) {
    .what-we-do {
      padding-top: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem )) {
    .what-we-do {
      padding-top: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1182432432rem  +  3.7837837838vw , 4.0625rem )) {
    .what-we-do {
      padding-bottom: clamp( 1.875rem , 1.1182432432rem  +  3.7837837838vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1182432432rem  +  3.7837837838vw , 4.0625rem )) {
    .what-we-do {
      padding-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.8297297297rem  +  3.3513513514vw , 3.4375rem )) {
    .what-we-do__title:not(:last-child) {
      margin-bottom: clamp( 1.5rem , 0.8297297297rem  +  3.3513513514vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.8297297297rem  +  3.3513513514vw , 3.4375rem )) {
    .what-we-do__title:not(:last-child) {
      margin-bottom: calc(1.5rem + 1.9375 * (100vw - 20rem) / 57.8125);
    }
}

@supports (width: clamp( 1.9375rem , 0.8347972973rem  +  5.5135135135vw , 5.125rem )) {
    .video__button {
      width: clamp( 1.9375rem , 0.8347972973rem  +  5.5135135135vw , 5.125rem );
    }
}

@supports not (width: clamp( 1.9375rem , 0.8347972973rem  +  5.5135135135vw , 5.125rem )) {
    .video__button {
      width: calc(1.9375rem + 3.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (height: clamp( 1.9375rem , 0.8347972973rem  +  5.5135135135vw , 5.125rem )) {
    .video__button {
      height: clamp( 1.9375rem , 0.8347972973rem  +  5.5135135135vw , 5.125rem );
    }
}

@supports not (height: clamp( 1.9375rem , 0.8347972973rem  +  5.5135135135vw , 5.125rem )) {
    .video__button {
      height: calc(1.9375rem + 3.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (width: clamp( 1.03125rem , 0.6744932432rem  +  1.7837837838vw , 2.0625rem )) {
    .video__button img {
      width: clamp( 1.03125rem , 0.6744932432rem  +  1.7837837838vw , 2.0625rem );
    }
}

@supports not (width: clamp( 1.03125rem , 0.6744932432rem  +  1.7837837838vw , 2.0625rem )) {
    .video__button img {
      width: calc(1.03125rem + 1.03125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (height: clamp( 1.03125rem , 0.6744932432rem  +  1.7837837838vw , 2.0625rem )) {
    .video__button img {
      height: clamp( 1.03125rem , 0.6744932432rem  +  1.7837837838vw , 2.0625rem );
    }
}

@supports not (height: clamp( 1.03125rem , 0.6744932432rem  +  1.7837837838vw , 2.0625rem )) {
    .video__button img {
      height: calc(1.03125rem + 1.03125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .quote {
      padding-top: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.4543918919rem  +  0.5405405405vw , 1.875rem )) {
    .quote {
      padding-top: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem )) {
    .quote {
      padding-bottom: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem )) {
    .quote {
      padding-bottom: calc(1.5625rem + 2.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 2.4841216216rem  +  7.8918918919vw , 8.625rem )) {
    .quote__container {
      padding-top: clamp( 4.0625rem , 2.4841216216rem  +  7.8918918919vw , 8.625rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 2.4841216216rem  +  7.8918918919vw , 8.625rem )) {
    .quote__container {
      padding-top: calc(4.0625rem + 4.5625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 4.0625rem , 3.8030405405rem  +  1.2972972973vw , 4.8125rem )) {
    .quote__container {
      padding-bottom: clamp( 4.0625rem , 3.8030405405rem  +  1.2972972973vw , 4.8125rem );
    }
}

@supports not (padding-bottom: clamp( 4.0625rem , 3.8030405405rem  +  1.2972972973vw , 4.8125rem )) {
    .quote__container {
      padding-bottom: calc(4.0625rem + 0.75 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 1.5rem , 0.8945945946rem  +  3.027027027vw , 3.25rem )) {
    .quote__title {
      font-size: clamp( 1.5rem , 0.8945945946rem  +  3.027027027vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.8945945946rem  +  3.027027027vw , 3.25rem )) {
    .quote__title {
      font-size: calc(1.5rem + 1.75 * (100vw - 20rem) / 57.8125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.589527027rem  +  4.8648648649vw , 4.375rem )) {
    .quote__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.589527027rem  +  4.8648648649vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.589527027rem  +  4.8648648649vw , 4.375rem )) {
    .quote__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.8125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .quote__title span {
      font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7885135135rem  +  0.4324324324vw , 1.125rem )) {
    .quote__title span {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem )) {
    .product {
      padding-top: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.8057432432rem  +  3.7837837838vw , 3.75rem )) {
    .product {
      padding-top: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem )) {
    .product {
      padding-bottom: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem )) {
    .product {
      padding-bottom: calc(1.5625rem + 2.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem )) {
    .natural-product-two {
      padding-top: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.6976351351rem  +  4.3243243243vw , 4.0625rem )) {
    .natural-product-two {
      padding-top: calc(1.5625rem + 2.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.1300675676rem  +  2.1621621622vw , 2.8125rem )) {
    .natural-product-two {
      padding-bottom: clamp( 1.5625rem , 1.1300675676rem  +  2.1621621622vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.1300675676rem  +  2.1621621622vw , 2.8125rem )) {
    .natural-product-two {
      padding-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 0.7327702703rem  +  16.6486486486vw , 13.6875rem )) {
    .natural-product-two__container {
      padding-top: clamp( 4.0625rem , 0.7327702703rem  +  16.6486486486vw , 13.6875rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 0.7327702703rem  +  16.6486486486vw , 13.6875rem )) {
    .natural-product-two__container {
      padding-top: calc(4.0625rem + 9.625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-bottom: clamp( 4.0625rem , 0.4949324324rem  +  17.8378378378vw , 14.375rem )) {
    .natural-product-two__container {
      padding-bottom: clamp( 4.0625rem , 0.4949324324rem  +  17.8378378378vw , 14.375rem );
    }
}

@supports not (padding-bottom: clamp( 4.0625rem , 0.4949324324rem  +  17.8378378378vw , 14.375rem )) {
    .natural-product-two__container {
      padding-bottom: calc(4.0625rem + 10.3125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7043918919rem  +  0.5405405405vw , 1.125rem )) {
    .natural-product-two__text {
      font-size: clamp( 0.8125rem , 0.7043918919rem  +  0.5405405405vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7043918919rem  +  0.5405405405vw , 1.125rem )) {
    .natural-product-two__text {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 57.8125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2381756757rem  +  1.6216216216vw , 2.5rem )) {
    .natural-product-two__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2381756757rem  +  1.6216216216vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2381756757rem  +  1.6216216216vw , 2.5rem )) {
    .natural-product-two__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 57.8125);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem )) {
    .natural-product-two__button {
      font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7067567568rem  +  0.2162162162vw , 0.875rem )) {
    .natural-product-two__button {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 57.8125);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 77.8125em) {
@supports (padding-left: clamp( 1.5625rem , 1.1949324324rem  +  1.8378378378vw , 2.625rem )) {
    .content {
      padding-left: clamp( 1.5625rem , 1.1949324324rem  +  1.8378378378vw , 2.625rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.1949324324rem  +  1.8378378378vw , 2.625rem )) {
    .content {
      padding-left: calc(1.5625rem + 1.0625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (width: clamp( 6.25rem , 5.2554054054rem  +  4.972972973vw , 9.125rem )) {
    .olives__logo {
      width: clamp( 6.25rem , 5.2554054054rem  +  4.972972973vw , 9.125rem );
    }
}

@supports not (width: clamp( 6.25rem , 5.2554054054rem  +  4.972972973vw , 9.125rem )) {
    .olives__logo {
      width: calc(6.25rem + 2.875 * (100vw - 20rem) / 57.8125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .content {
    padding-left: 1.5625rem;
  }

  .olives__logo {
    width: 6.25rem;
  }
}

@media (max-width: 56.31125em) and (min-width: 20em) {
  .menu__body {
    padding-top: 11.25rem;
  }

  .menu__body::before {
    height: 9.375rem;
  }
}

@media (max-width: 56.31125em) and (min-width: 0.125em) and (max-width: 20em) {
@supports (padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - 0.125rem) / 19.875);
    }
}

@supports (height: clamp( 4.5rem , 4.4693396226rem  +  24.5283018868vw , 9.375rem )) {
    .menu__body::before {
      height: clamp( 4.5rem , 4.4693396226rem  +  24.5283018868vw , 9.375rem );
    }
}

@supports not (height: clamp( 4.5rem , 4.4693396226rem  +  24.5283018868vw , 9.375rem )) {
    .menu__body::before {
      height: calc(4.5rem + 4.875 * (100vw - 0.125rem) / 19.875);
    }
}
}

@media (min-width: 56.37375em) and (min-width: 20em) and (max-width: 77.8125em) {
@supports (font-size: clamp( 0.75rem , 0.6202702703rem  +  0.6486486486vw , 1.125rem )) {
    .menu__link {
      font-size: clamp( 0.75rem , 0.6202702703rem  +  0.6486486486vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6202702703rem  +  0.6486486486vw , 1.125rem )) {
    .menu__link {
      font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 57.8125);
    }
}
}

@media (min-width: 56.37375em) and (max-width: 20em) {
  .menu__link {
    font-size: 0.75rem;
  }
}

@media (min-width: 73.87375em) and (min-width: 20em) and (max-width: 77.8125em) {
@supports (padding-left: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .data {
      padding-left: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .data {
      padding-left: calc(1.875rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-right: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .data {
      padding-right: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .data {
      padding-right: calc(1.875rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-left: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-left: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-left: calc(1.875rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}

@supports (padding-right: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-right: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 1.702027027rem  +  0.8648648649vw , 2.375rem )) {
    .basement {
      padding-right: calc(1.875rem + 0.5 * (100vw - 20rem) / 57.8125);
    }
}
}

@media (min-width: 73.87375em) and (max-width: 20em) {
  .data {
    padding-left: 1.875rem;
  }

  .data {
    padding-right: 1.875rem;
  }

  .basement {
    padding-left: 1.875rem;
  }

  .basement {
    padding-right: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 77.8125em) {
  .who-we-are__image:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .product__image:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 77.8125em) {
@supports (margin-bottom: clamp( 1.25rem , 1.0337837838rem  +  1.0810810811vw , 1.875rem )) {
    .who-we-are__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0337837838rem  +  1.0810810811vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0337837838rem  +  1.0810810811vw , 1.875rem )) {
    .who-we-are__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 57.8125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0337837838rem  +  1.0810810811vw , 1.875rem )) {
    .product__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0337837838rem  +  1.0810810811vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0337837838rem  +  1.0810810811vw , 1.875rem )) {
    .product__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 57.8125);
    }
}
}

@media (any-hover: hover) {
  .action__button:hover {
    background: rgba(226, 217, 217, 0.385);
  }

  .action-info__button:hover {
    background: rgba(226, 217, 217, 0.385);
  }

  .breadcrumbs__link:hover {
    color: #7e4e24;
  }

  .list-icons__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .natural-product-two__button:hover {
    background: #778b04;
  }
}

.webp .natural-product{ background: url(../img/natural-product/1.webp) 100%/cover no-repeat; }

.webp .quote{ background: url(../img/quote/01.webp) center/cover no-repeat; }

.webp .natural-product-two{ background: url(../img/natural-product-two/1.webp) 100%/cover no-repeat; }

@media (max-width: 56.31125em){

  .webp .menu__body{ background: url(../img/header/2.webp) center/cover no-repeat; }
}

@media (max-width: 56.31125em){

  .webp .menu__body::before{ background: url(../img/header/2.webp) center/auto auto no-repeat; }
}